version: "3.3"

services:
  db:
    image: mysql
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: testdb
    volumes:
      - /two-tier-app/db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro      

  app:
    image: two-tier-app
    container_name: app
    ports:
      - "3000:3000"
    depends_on:
      - db
    command: ["./wait-for-it.sh", "db:3306", "--", "node", "server.js"]    
